/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');
/* ------*/

/*Reset*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
  font-family: 'Oswald';
  font-style: normal;
}

.heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
}

/* HEADER STYLES START */

.header {
  position: fixed;
  top: 0; left: 0;

  height: 110px;
  width: 100%;
  background-color: #FFFFFF;
  padding-left: 80px;
  padding-right: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
}

.header__navigation {
  display: flex;
}

.header__item {
  margin-right: 46px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  color: black;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}

/* HEADER STYLES END */

/* HOME STYLES START */

.home {
  background: url(./img/hero.png) center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 110px;
  padding-top: 267px;
  padding-bottom: 250px;
  text-align: center;
}

.home__text {
  font-weight: 700;
  font-size: 60px;
  line-height: 89px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.home__text::after {
  content: "";
  width: 80px;
  height: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 7px;
  background: #817070;
}

/* HOME STYLES END */

/* STROY STYLES START */

.story {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
}

.story__content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-right: 40px;
}

.story__image {
  flex-basis: 600px;
  margin-right: 40px;
}

.story__text {
  flex-basis: 600px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

/* STORY STYLES END */

/* BLOG STYLES START */

.blog {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 65px;
  background: #EFEFEF;
}

.blog__list {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1235px;
  margin-top: 60px;
}

.blog__card {
  flex-basis: 365px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 46px;

  background-color: #FFFFFF;
}

.blog__card_header {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 24px;
}

.blog__card_image {
  max-width: 325px;
  margin-bottom: 24px;
}

.blog__card_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}

/* BLOG STYLES END */

/* CONTACT STYLES START */

.contact {
  padding-top: 60px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 60px;
  background: #817070;
}

.contact__heading {
  color: white;
  margin-bottom: 28px;
}

.contact__form_input {
  margin: 0 auto;
  display: block;
  width: 300px;
  margin-bottom: 28px;
  padding-top: 6px;
  padding-bottom: 13px;

  background: #817070;
  border: 3px solid #FFFFFF;

  font-weight: 300;
  font-size: 20px;
  color: white;
  text-align: center;
}

.contact__form_input::placeholder {
  font-weight: 300;
  font-size: 20px;
  color: white;
  text-align: center;
}

.contact__form_submit {
  margin: 0 auto;
  display: block;
  width: 130px;
  height: 55px;
  background: white;

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #817070;
}

/* CONTACT STYLES END */